<div class="divExterior">
    <h1>Bienvenido al Carrito</h1>
        {{#each carrito}}
        <p>title: {{this.title}} </p>
        <p>quantity: {{this.quantity}} </p>
        <p>disponibles: {{this.stock}} </p>
        <p>Precio unitario: {{this.precioU}} </p>
        <p>Total: {{this.total}} </p>
        <form action="/api/carts/up/{{../cid}}/products/{{this._id}}" method="POST">
            <input type="text" name="newQuantity" placeholder="newQuantity">
            <br>
            <button type="submit">Editar Cantidad</button>
        </form>
        <form action="/api/carts/del/{{../cid}}/products/{{this._id}}" method="POST">
            <button type="submit">ELIMINAR</button>
        </form>
        <hr>
        {{/each}}
        <form action="/api/carts/{{cid}}/purchase" method="POST">
            <button type="submit">COMPRAR</button>
        </form>
        <a href="/views/productos">Cancelar</a>
</div>