<div class="divExterior">
    <h1>Bienvenido a HOME</h1>
    {{#if vacio}}
        {{#each productos}}
            <div>
                <p>Producto n° {{this.id}}</p>
                <p>Imagen {{this.thumbnail}} </p>
                <h2>Nombre del producto: {{ this.title }}</h2>
                <p>Descripcion: {{ this.description }}</p>
                <h3>Precio: {{ this.price }}</h3>
                <p>stock: {{ this.stock }}</p>
                <p>Descripcion del producto: {{ this.description }}</p>
                <button type="button">CARRITO</button>
                <hr>
            </div>
        {{/each}}
    {{else}}
        <h2>No tienes productos</h1>
    {{/if}}
    <div class="text-center">
        {{#if hasPrevPage}}
            <a href="/views/products?numPage={{prevPage}}&limit={{limit}}&sort={{sort}}" class="btn btn-outline-dark">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
            <a href="/views/products?numPage={{nextPage}}&limit={{limit}}&sort={{sort}}" class="btn btn-outline-dark">Siguiente</a>
        {{/if}}
    </div>
</div>