<h1>Bienvenidos a Usuarios</h1>

<div>
    {{#each users}}
    <li>
        <strong>Nombre: </strong>{{this.first_name}} -
        <strong>Apellido: </strong>{{this.last_name}} -
        <strong>email: </strong>{{this.email}} -
        <strong>gender: </strong>{{this.gender}}
    </li>
    {{/each}}
</div>
<div class="text-center">
    {{#if hasPrevPage}}
        <a href="/views/users?numPage={{prevPage}}" class="btn btn-outline-dark">Anterior</a>
    {{/if}}
    <label>{{page}}</label>
    {{#if hasNextPage}}
        <a href="/views/users?numPage={{nextPage}}" class="btn btn-outline-dark">Siguiente</a>
    {{/if}}
</div>